@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Great+Vibes&family=Libre+Baskerville&family=Lobster&family=Montserrat:wght@100&family=Pattaya&family=Playball&family=Plus+Jakarta+Sans:wght@300&family=Rajdhani&family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto:wght@500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
    font-family: 'Poppins';
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::selection {
    background: rgba(0, 0, 0, 0.253);
    color: white;
}

a,
button {
    cursor: pointer;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background: rgb(15, 15, 15);
    height: 100vh;
    /* background-image: url(../images/catalogo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

.catalogo{
    width: 100vw;
    height: 100vh;
    position: absolute;
    object-fit: cover;
}

.back-gradient{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 300;
    background: linear-gradient(to right,rgb(0, 0, 0),rgba(0, 0, 0, 0.137));
}


/* HEADER */
header {
    height: 65px;
    width: 100%;
    background: linear-gradient(to bottom,#000,rgba(0, 0, 0, 0));
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    z-index: 1200;
}

header .links-title{
    cursor: pointer;
}

header .links-title div {
    display: flex;
    align-items: flex-end;
    justify-content: stretch;
}

header .links-title div h1 {
    color: #22ffc0;
    font-weight: 300;
    margin-right: 5px;
    margin-left: -7px;
}

header .links-title div img {
    width: 55px;
    height: 60px;
    object-fit: contain;
}

header .button{
    width: max-content;
    display: flex;
    align-items: flex-end;
    padding-right: 35px;
    padding-top: 15px;
    position: absolute;
    right: 10px;
    top: 5px;
}

header .button a{
    color: rgb(0, 0, 0);
    background: #22ffc0;
    padding: 7px 18px;
    border-radius: 2px;
    text-decoration: none;
}

header .button a:hover{
    background: #22ffc063 ;
    outline: 2px solid #22ffc0;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(4px);
}
/* MAIN */

main{
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    z-index: 400;
}

main form{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: relative;
} 

main form input{
    width: 50%;
    max-width: 600px;
    border: none;
    outline: none;
    height: 60px;
    padding-left: 7px;
    padding-top: 20px;
    font-size: 17px;
}
main form button{
    border: none;
    outline: none;
    height: 60px;
    margin-left: 7px;
    background: #22ffc0;
    color: rgb(0, 0, 0);
    padding: 0 15px;
    font-weight: 500;
    font-size: 18px;
}
main form input:focus::placeholder{
    color: #000;
}
main form button:hover{
    background: #22ffc063 ;
    outline: 2px solid #22ffc0;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(4px);
}

main h1{
    font-size: 50px;
    /* font-size: 3.125rem; */
    text-align: center;
    margin-bottom: 9px;
    position: relative;
    font-weight: 600;
}
main h2{
    margin-bottom: 14px;
    font-size: 26px;
    /* font-size: 1.625rem; */
    position: relative;
    font-weight: 500;
}
main h3{
    position: relative;
    font-size: 19.2px;
    font-weight: 400;
    margin-bottom: 12px;
    /* font-size: 1.2rem; */
}

@media screen and (max-width:830px){
    main h1{
        font-size: 40px;
    }
    main h2{
        font-size: 20px;
    }
    main h3{
        font-size: 15.2px;
    }
}
@media screen and (max-width:610px){
    main h1{
        font-size: 40px;
    }
    main h2{
        font-size: 20px;
        text-align: center;
    }
    main h3{
        font-size: 15.2px;
        text-align: center;
    }
}

@media screen and (max-width:470px) {
    main form{
        align-items: center;
        flex-direction: column;
    } 
    main form input{
        width: 90%;
        max-width: 600px;
        height: 50px;
        font-size: 17px;
    }
    main form button{
        height: 50px;
        margin-left: 0;
        margin-top: 50px;
    }
}

@media screen and (max-width:435px) {
    main h1{
        font-size: 35px;
    }
    main h2{
        font-size: 16px;
    }
    main h3{
        font-size: 13.2px;
    }
}

@media screen and (max-width:330px) {
    main h1{
        font-size: 28px;
    }
    main,.catalogo{
        min-height: 495px;
    }
    main form input{
        height: 40px;
        font-size: 17px; 
        padding-top: 18px;
    }
    main form button{
        height: 40px;
    }
}

@media screen and (max-width:300px) {
    header .button{
        display: flex;
        justify-content: flex-end;
        padding-right: 0;
    }
}