@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Great+Vibes&family=Libre+Baskerville&family=Lobster&family=Montserrat:wght@100&family=Pattaya&family=Playball&family=Plus+Jakarta+Sans:wght@300&family=Rajdhani&family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto:wght@500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
    font-family: 'Poppins';
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::selection{
    background: rgba(0, 0, 0, 0.253);
    color: white;
}

*::-webkit-scrollbar {
    display: none;
}

body{
    background: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    width: 380px;
    height: 550px;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
}

.inputs{
    height: 50%;
    width: 100%;
    /* background: rgb(156, 156, 156); */
}

.inputs h1{
    margin-bottom: 20px;
}

.inputs input{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #808080;
    outline: none;
}

.inputs input[type="email"]{
    margin-bottom: 10px;
}

.inputs a{
    text-align: right;
    width: 100%;
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.button-social{
    height: 50%;
    width: 100%;
    padding-top: 20px;
    /* background:rgb(156, 156, 156); */
}

.button-social button{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
}

.button-social button:hover{
    background: transparent;
    outline: 2px solid #000;
    color: #000;
}

.button-social p{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #808080;
}

.button-social h3{
    font-size: 16px;
}

.button-social section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
}

.button-social section img{
    object-fit: cover;
    height: 50px;
    width: 50px;
    border: 1px solid #808080;
    padding: 10px;
    border-radius: 7px;
}

@media screen and (max-width:425px) {
    form{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

