@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Great+Vibes&family=Libre+Baskerville&family=Lobster&family=Montserrat:wght@100&family=Pattaya&family=Playball&family=Plus+Jakarta+Sans:wght@300&family=Rajdhani&family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto:wght@500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
    font-family: 'Poppins';
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::selection {
    background: rgba(0, 0, 0, 0.253);
    color: white;
}

a,
button {
    cursor: pointer;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-image: url(../images/catalogo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

.catalogo{
    width: 100vw;
    height: 100vh;
    position: absolute;
    object-fit: cover;
}

.back-gradient{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 300;
    background: linear-gradient(to right,rgb(0, 0, 0),rgba(0, 0, 0, 0.137));
}

form {
    width: 370px;
    height: 550px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 25px;
    position: relative;
    z-index: 400;
    backdrop-filter: blur(3px);
}

.inputs {
    height: 52%;
    width: 100%;
    /* background: rgb(156, 156, 156); */
}

.inputs h1 {
    margin-bottom: 20px;
}

.inputs p {
    font-weight: 500;
}

.inputs .invalid{
    border: 1px solid #ff0000a8;
    outline: 1px solid #ff0000a8;
    animation: invalid .2s ease 2 alternate;
}

@keyframes invalid {
    0%{
        transform: translateX(10px);
    }50%{
        transform: translateX(-10px);
    }100%{
        transform: translateX(0);
    }
}

.inputs input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #808080a8;
    outline: 1px solid #ff000000;
    padding: 16px 19px 0;
    position: relative;
    transition: border .5s, outline 1s;
}

.inputs input:focus::placeholder{
    color: #000;
}

.inputs input[type="email"] {
    margin-bottom: 10px;
}

.inputs div{
    position: relative;
}

.inputs div #eye{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    color: #808080;
    cursor: pointer;
}

.inputs div .fa-eye{
    right: 13px !important;
}

.inputs a {
    text-align: right;
    width: 100%;
    display:block;
    margin-top: 10px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.res-sign{
    display: none !important;
}

.inputs a:hover {
    text-decoration: underline;
    text-emphasis-position: under;
}

.button-social {
    height: 48%;
    width: 100%;
    padding-top: 20px;
}

.button-social button {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
}

.button-social button:hover {
    background: transparent;
    outline: 2px solid #000;
    color: #000;
}

.button-social p {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
    color: #8080806e;
    font-size: 15px;
    font-weight: 600;
}

.button-social h3 {
    font-size: 14px;
    font-weight: 500;
}

.button-social section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.button-social section img {
    object-fit: cover;
    height: 50px;
    width: 50px;
    border: 1px solid #80808062;
    padding: 10px;
    border-radius: 7px;
}

/* HEADER */
header {
    height: 65px;
    width: 100%;
    background: #23232300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    z-index: 1200;
}

header .links-title{
    cursor: pointer;
}

header .links-title div {
    display: flex;
    align-items: flex-end;
    justify-content: stretch;
}

header .links-title div h1 {
    color: #22ffc0;
    font-weight: 300;
    margin-right: 5px;
    margin-left: -7px;
}

header .links-title div img {
    width: 55px;
    height: 60px;
    object-fit: contain;
}

header .button{
    width: max-content;
    display: flex;
    align-items: flex-end;
    padding-right: 35px;
    padding-top: 15px;
    position: absolute;
    right: 10px;
    top: 5px;
}

header .button a{
    color: rgb(0, 0, 0);
    background: #22ffc0;
    padding: 7px 18px;
    border-radius: 2px;
    text-decoration: none;
}

header .button a:hover{
    background: #22ffc063 ;
    outline: 2px solid #22ffc0;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(4px);
}

@media screen and (max-width:425px) {
    form {
        width: 100%;
        height: 100%;
        border-radius: 0;
        min-height: 520px;
    }
    .res-sign{
        display: block !important;
        text-align: center;
        color: #000;
        text-decoration: none;
        margin-top: 20px;
    }

    .button-social{
        padding-top: 0;
    }

    .inputs{
        height: 48%;
    }

    .button-social{
        height: 52%;
    }

    .inputs a{
        margin-top: 25px;
    }

}

@media screen and (max-width:700px){
    .header{
        display: none;
    }
}