<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/head')-%>

        <link rel="stylesheet" href="../styles/index.css">
        <link rel="stylesheet" href="../styles/footer.css">

        <title>NetFreez | The Best Platform To Watch Movies And Series</title>
</head>

<body>
    <div class="back-gradient"></div>
    <img class="catalogo" src="../images/catalogo.jpg" alt="">
    <header class="header">
        <div class="links-title">
            <div id="logo">
                <img class="logo" src="../images/logox.svg" alt="">
                <!-- <img src="../../images/neticon.png" alt="">
                <h1>etFreez</h1> -->
            </div>
        </div>
        <div class="button">
            <a href="/login">Log In</a>
        </div>
    </header>
    <main>
        <h1>
            Unlimited movies, TV <br>
            shows, and more.
        </h1>
        <h2>
            Watch anywhere. Cancel anytime
        </h2>
        <h3>
            Ready to watch? Enter your email to create or restart your membership
        </h3>

        <form id="form-register" class="button">
            <input type="email" name="" id="" placeholder="Email Adress">
            <button type="submit">Get Started</button>
        </form>
    </main>
    <%- include ('partials/footer') -%>


    <%- include ('partials/script') -%>
    <script src="../js/index.js"></script>
</body>

</html>