<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') -%> 

    <link rel="stylesheet" href="../styles/login.css">

    <title>Login | NetFree The Best Platform To Watch Movies And Series</title>
</head>
<body>
    <div class="back-gradient"></div>
    <img class="catalogo" src="../images/catalogo.jpg" alt="">
    <header class="header">
        <div class="links-title">
            <div id="logo">
                    <img src="../../images/neticon.png" alt="">
                    <h1>etFree</h1>
            </div>
        </div>
        <div class="button">
            <a href="/">Sign Up</a>
        </div>
    </header>
    <form method="post" action="/login" id="form-login">
        <div class="inputs">
            <h1>
                Welcome back!
            </h1>
            <p>Email</p>
            <input type="email" placeholder="stivendz@gmail.com" autocomplete="off" name="Email" id="email">
            <p>Password</p>
            <div>
                <input type="password" placeholder="123456789" autocomplete="off" name="Password"id="password">
                <i class="fa-solid fa-eye-slash" id="eye"></i>
            </div>
            <a href="#">Forgot Password?</a>
        </div>

        <div class="button-social">
            <button id="submit-button" type="submit">Log In</button>
            <a class="res-sign" href="/">You don't have an account?</a>
            <p>-------- OR --------</p>
            <h3>Join saasguru With Your Favorite social media account:</h3>
            <section>
                <% for( let i = 1; i <= 4; i++ ) { %>
                    <a href="#">
                        <img src="../images/social<%=i%>.png" alt="">
                    </a>
                <% } %>
            </section>
        </div>
    </form>
    <%- include ('partials/script')  -%> 
    <script src="../js/login.js"></script>
</body>
</html>