<footer class="footer-Earth">
    <div class="wrapper">
        <a href="mailto:stivendiazh@gmail.com" target="__BLANK" class="iconsocial email">
            <div class="tooltip">Email</div>
            <span><i class="fa-solid fa-envelope"></i></span>
        </a>
        <a href="https://www.linkedin.com/in/stiven-diaz-3892aa224" target="__BLANK" class="iconsocial linkdein">
            <div class="tooltip" translate="no">linkdein</div>
            <span><i class="fab fa-linkedin"></i></span>
        </a>
        <a href="https://instagram.com/stiven_dz" target="__BLANK" class="iconsocial instagram">
            <div class="tooltip">Instagram</div>
            <span><i class="fab fa-instagram"></i></span>
        </a>
        <a href="https://github.com/StivenDz" target="__BLANK" class="iconsocial github">
            <div class="tooltip">Github</div>
            <span><i class="fab fa-github"></i></span>
        </a>
    </div>
    <p>&copy;2022 CODERHOUSE | Stiven Diaz</p>
</footer>