    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/53d40d2367.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../../styles/index.css">
    <link rel="stylesheet" href="../../styles/responsive.css">
    <link rel="shortcut icon" href="../../images/neticon.png" type="image/x-icon">

    <title>NetFree | The Best Platform To Watch Movies And Series</title>
