<header class="header">
    <div class="links-title">
        <div id="logo">
                <img src="../../images/neticon.png" alt="">
                <h1>etFreez</h1>
        </div>

        <a class="links-nav" href="/home">Home</a>
        <a class="links-nav" href="">Movies</a>
        <a class="links-nav" href="">Series</a>
        <a class="links-nav" href="">Popular News</a>
        <a class="links-nav" href="/home/my-list">My List</a>
    </div>
    <form id="search_movie" class="search-box">
        <input name="wantedMovie" id="wantedMovie" type="text" placeholder="Search Here..."
        class="search-input" autocomplete="off">

        <button type="submit" id="sendName" class="search-btn">
            <i class="fas fa-search"></i>
        </button>
    </form>
    <div class="user-t">
        <div class="user">
            <i class="fas fa-user"></i>
        </div>
        <i class="fa-solid fa-caret-down"></i>

        <div class="pro-set-clos">
            <div class="profiles">
                <div>
                    <i class="fas fa-user"></i>
                    <a href="#">FAMILY</a>
                </div>
                <div>
                    <i class="fas fa-user"></i>
                    <a href="#">Stiven Dz</a>
                </div>
                <div>
                    <i class="fa-solid fa-pencil"></i>
                    <a href="#">Manage Profiles</a>
                </div>
            </div>
            <div class="cuenta">
                <div>
                    <i class="fas fa-user"></i>
                    <a href="#">My Account</a>
                </div>
                <div>
                    <i class="fa-regular fa-circle-question"></i>
                    <a href="#">Help Center</a>
                </div>
            </div>
            <a href="/login">
                Sign out of NetFreez
            </a>
        </div>

    </div>
    <div class="nav-responsive">
        <i id="button-nav-res" class="fa-solid fa-bars-staggered"></i>
        <div id="aside-links" class="aside-links">
            <div class="links">
                <a class="selected" href="/home">Home</a>
                <a href="">Movies</a>
                <a href="">Series</a>
                <a href="">Popular News</a>
                <a href="/home/my-list">My List</a>
            </div>
            <div class="pro-set-clos">
                <div class="profiles">
                    <div>
                        <i class="fas fa-user"></i>
                        <a href="#">FAMILY</a>
                    </div>
                    <div>
                        <i class="fas fa-user"></i>
                        <a href="#">Stiven Dz</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-pencil"></i>
                        <a href="#">Manage Profiles</a>
                    </div>
                </div>
                <div class="cuenta">
                    <div>
                        <i class="fas fa-user"></i>
                        <a href="#">My Account</a>
                    </div>
                    <div>
                        <i class="fa-regular fa-circle-question"></i>
                        <a href="#">Help Center</a>
                    </div>
                </div>
                <div class="content-btn-leave">
                    <a href="/login">
                        Sign out of NetFreez
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>